<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <script type="application/javascript" defer="defer" src="js/application.js"></script>
  <script type="application/javascript" src="js/vue.2.6.13.js"></script>
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <title>
    Earthdawn Dice Rolling Chat
  </title>
</head>

<body>
  <div class="main-view" id="app">
    <div class="chat disconnected" id="chat-view">
      <div>
        <h4>Howto:</h4>
        <code>/name XXX</code> -- set your name to XXX
        <br>
        <code>/join YYY</code> -- join room YYY
        <br>
        <code>!d6+2</code> -- roll one six sided dice and add 2
        <br>
        <code>!!2d5+2</code> -- roll 2d5 exploding dice and add 2
      </div>
      <hr>
      <form id="chat-form" autocomplete="off">
        <input id="message" type="text" v-model="currentText">
        <input type="submit" value="Go" v-on:click.prevent="submit()">
        <input id="useKarmaCheckbox" type="checkbox" v-model="useKarma">
        <label for="useKarmaCheckbox">Use Karma</label>
        <input id="hideRollCheckbox" type="checkbox" v-model="hideRoll">
        <label for="hideRollCheckbox" title="Appends '*' to your roll, e.g. '!!1d4+3* some more text'">Hide
          roll</label>
      </form>
      <span
        id="disconnected-message"><code>You are not connected to the server. Trying to connect automatically ...</code></span>
      <br>
      <main id="main"></main>
    </div>

    <div class="earthdawn">

      <div>
        <h4>Chat Room</h4>
        <template v-if="connected && room.name != null">
          <span style="font-weight: normal;">{{ room.name }}</span>:
          <span style="font-style: italic;">{{ room.members.join(', ') }}</span>
        </template>
      </div>

      <div id="iniDiv">
        <h4
          title="Send i.e. '!!1d6 (ini) <description>' to roll your initiative. GM sends '(clear initiative)'' to begin a new round. To create multiple named initiatives use '!!1d6 (ini:<some name>) <description>'.">
          Initiative<sup>i</sup>

          <button v-on:click="visibilityToggles.initiative=!visibilityToggles.initiative" style="margin-left: 1em;">
            <span v-if="visibilityToggles.initiative">&#9650;</span>
            <span v-else>&#9660;</span>
          </button>
        </h4>
        <template v-if="visibilityToggles.initiative">
          <ul>
            <li v-for="iniRoll in initiativeRolls">
              <span>({{ iniRoll.result }}) {{ iniRoll.mainName }}<span v-if="iniRoll.subName"
                  style="font-style: italic;"> {{ iniRoll.subName}}</span>: {{ iniRoll.description }}</span>
            </li>
          </ul>
          <span v-if="initiativeRolls.length == 0">No initiatives rolled</span>
        </template>
      </div>

      <div class="dice">
        <h4>
          Step/Action Dice

          <button v-on:click="visibilityToggles.dice=!visibilityToggles.dice" style="margin-left: 1em;">
            <span v-if="visibilityToggles.dice">&#9650;</span>
            <span v-else>&#9660;</span>
          </button>
        </h4>
        <template v-if="visibilityToggles.dice">
          My karma: <input type="text" v-model="games.earthdawn.myKarma" size="10em" v-on:input="storeSettings">
          <p>
            <template v-for="(dice, step) in games.earthdawn.stepActionDice">
              <button v-on:click="putToInputText('!![' + step + ']')"
                v-bind:title="games.earthdawn.stepActionDice[step]" class="dice-step-button">
                {{ step }}
              </button>
              <template v-if="step % 5 == 0"><br></template>
            </template>
        </template>
      </div>

      <div>
        <h4>
          Message Templates

          <button v-on:click="visibilityToggles.templates=!visibilityToggles.templates" style="margin-left: 1em;">
            <span v-if="visibilityToggles.templates">&#9650;</span>
            <span v-else>&#9660;</span>
          </button>
        </h4>
        <template v-if="visibilityToggles.templates">
          <button id="toggle-edit" v-on:click="toggleEdit">{{ toggleButton.text }}</button>
          <button v-if="edit" v-on:click="messageTemplates.push({})" title="Add template">+</button>
          <ul>
            <div v-if="edit" class="template-drop-zone" @drop="onDrop($event, 0)" @dragover.prevent @dragenter.prevent>
            </div>
            <li v-for="(template, templateIndex) in messageTemplates" class="template-entry">
              <div class="edit" v-if="edit" draggable @dragstart="startDrag($event, templateIndex)">
                <input v-model="template.title" placeholder="Template name">
                <br>
                <input v-model="template.text" placeholder="Template content">
                <button v-on:click="messageTemplates.splice(templateIndex, 1)" title="Delete template">x</button>
              </div>

              <div v-else>
                <span class="title">{{ template.title }}</span>
                <button v-on:click="putToInputText(template.text)" title="Write to message text">__&#9998</button>
                <button v-on:click="sendText(template.text)" title="Send to chat">Go</button>
                <br>
                <span class="text">{{ template.text }}</span>
              </div>

              <div v-if="edit" class="template-drop-zone" @drop="onDrop($event, templateIndex + 1)" @dragover.prevent
                @dragenter.prevent></div>
            </li>
          </ul>
        </template>
      </div>

      <div class="target_numbers">
        <img src="/static/img/target_numbers.png" />
      </div>
    </div>
  </div>
</body>

</html>