<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <script type="application/javascript" defer="defer" src="js/application.js"></script>
  <script type="application/javascript" src="js/vue.2.6.13.js"></script>
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <title>
    Earthdawn Dice Rolling Chat
  </title>
</head>

<body>
  <div class="main-view">
    <div class="chat disconnected" id="chat-view">
      <div>
        <h4>Howto:</h4>
        <code>/name XXX</code> -- set your name to XXX
        <br>
        <code>/join YYY</code> -- join room YYY
        <br>
        <code>!1d5+2</code> -- roll 1d5 and add 2
        <br>
        <code>!!1d5+2</code> -- roll 1d5 exploding dice and add 2
      </div>
      <hr>
      <form autocomplete="off" id="chat-form">
        <input id="message" type="text">
        <input type="submit" value="Go" id="button_chat">
      </form>
      <span
        id="disconnected-message"><code>You are not connected to the server. Trying to connect automatically ...</code></span>
      <br>
      <main id="main"></main>
    </div>

    <div class="earthdawn">
      <div id="app">

        <div>
          <h4>Chat Room</h4>
          <template v-if="connected && room.name != null">
            <span style="font-weight: normal;">{{ room.name }}</span>:
            <span style="font-style: italic;">{{ room.members.join(', ') }}</span>
          </template>
        </div>

        <div>
          <h4>Message Templates</h4>
          <button id="toggle-edit" v-on:click="toggleEdit">{{ toggleButton.text }}</button>
          <button v-if="edit" v-on:click="messageTemplates.push({})" title="Add template">+</button>
          <ul>
            <li v-for="(template, templateIndex) in messageTemplates" class="template-entry">
              <div v-if="edit">
                <input v-model="template.title" placeholder="Template name">
                <br>
                <input v-model="template.text" placeholder="Template content">
                <button v-on:click="messageTemplates.splice(templateIndex, 1)" class="symbol-button"
                  title="Delete template">x</button>
              </div>

              <div v-else>
                <span class="title">{{ template.title }}</span>
                <button v-on:click="putToInputText(template.text)" class="symbol-button"
                  title="Write to message text">__&#9998</button>
                <button v-on:click="sendText(template.text)" class="symbol-button" title="Send to chat">&#9658</button>
                <br>
                <span class="text">{{ template.text }}</span>
              </div>
            </li>
          </ul>
        </div>

        <div id="iniDiv">
          <h4
            title="Send i.e. '!!1d6 (ini) <description>' to roll your initiative. GM sends '(clear initiative)'' to begin a new round.">
            Initiative<sup>i</sup>

            <button v-on:click="initiative.show=!initiative.show" style="margin-left: 1em;">
              <span v-if="initiative.show">&#9650;</span>
              <span v-else>&#9660;</span>
            </button>
          </h4>
          <div v-if="initiative.show">
            <ul>
              <li v-for="iniRoll in initiativeRolls">
                <span>({{ iniRoll.result }}) {{ iniRoll.name }}: {{ iniRoll.description }}</span>
              </li>
            </ul>
            <span v-if="initiativeRolls.length == 0">No initiatives rolled</span>
          </div>
        </div>

        <div class="dice">
          <h4>Step/Action Dice</h4>
          <template v-for="(dice, step) in games.earthdawn.stepActionDice">
            <button v-on:click="putToInputText(dice)">{{ step }}</button>
            <template v-if="step % 5 == 0"><br></template>
          </template>
        </div>
      </div>

      <div class="target_numbers">
        <img src="/static/img/target_numbers.png" />
      </div>
    </div>
  </div>
</body>

</html>